* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* main box */
.container {
    width: 100Vw;
    height: 100vh;
    background: linear-gradient(to top, #091320 0%, #092b81 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inide  the main  container */
.inside-container {
    width: 70vw;
    height: 90vh;
    background: linear-gradient(to top, #122033 0%, #1c54e1 100%);
    box-shadow: 5px 5px 5px 8px rgba(12, 68, 123, 0.534);
    border: 4px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:300px) {
    .inside-container {
        width: 90vw;
        height: 90vh;
        background: linear-gradient(to top, #122033 0%, #1c54e1 100%);
    }
}

#heading1 {
    margin-top: 10px;
    height: 2em;
    width: 10em;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 13px 13px #092b81;
}

@media(max-width:300px) {
    #heading1 {
        margin-top: 5px;
        height: 1.6em;
        width: 3em;
        background-color: aliceblue;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 5px 5px #092b81;
    }
}

/* inside container will divide into many parts ,first part is inside1 */
.inside1 {
    width: 60vw;
    height: 20vh;
    /* background-color: azure; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 28px;
}

/* inside1 we have two parts one is text part ="first-box" and another part is="ADD-btn" part  */
.first-box {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid black;
    font: 900;
}

input {
    display: block;
    padding: 20px;
    font-weight: 700;
    font-size: medium;
}

input::placeholder {
    font-weight: 900;
    font-size: bolder;

}

.ADD-btn {
    height: 50px;
    width: 60px;
    font-size: bolder;
    font-weight: 900;
    border-radius: 8px;
    background-color: rgb(61, 206, 61);
    cursor: pointer;
    box-shadow: 5px 5px 4px blue;
}

#heading2 {
    margin-top: 30px;
    height: 2em;
    width: 10em;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 13px 13px #0a266d;
}

/* The storing part after insert a work */
#taskList {
    color: black;
    display: block;
    padding: 20px;
    font-weight: 700;
    font-size: medium;
}